@font-face {
  font-family: 'latolight';
  src: url('fonts/Lato-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
*:not(footer):not(img){
  position:relative;
animation:animatetop 0.4s;
}
html{
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'latolight';
  background-color: #ffffff;
  color: #333;
  height: 100%;
  min-height: 100vh;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body h2 {
  margin-top: 0;
  color: #ffffff; 
  background-color: #000000; 
  padding: 10px; 
}
header {
  background-color: #161421;
  color: #F6D55C;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  color: #161421;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}
main {
  padding: 20px;
}

#facts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.fact {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  cursor: pointer;
}

.fact:hover {
  transform: scale(1.05);
}
p{
  font-size: 19px;
  font-weight: bold;
}
.fact p {
  font-size: 0.9em;
  line-height: 1.4;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
footer {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
