body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.8;
}

body h1, body h2 {
    margin-top: 0;
    color: #ffffff; /* Change text color to white */
    background-color: #000000; /* Change background color to black */
    padding: 10px; /* Add some padding */
}

.navbar {
    width: 100%; /* Make the navbar span the full width of the page */
    height: 60px; /* Adjust as needed */
    background-color: #444;
    padding: 10px 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.navbar a {
    display: inline-block; /* Align links side by side */
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 10px; /* Add horizontal margins */
    padding: 10px 20px; /* Increase padding */
    border-radius: 5px;
    transition: background-color .3s;
    background-color: #777; /* Change background color to grey */
}

.navbar a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

#facts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.fact {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}

.fact:hover {
    transform: scale(1.05);
}

.fact p {
    font-size: 0.9em;
    line-height: 1.4;
}
